@use "tailwindcss";
@import "primeicons/primeicons.css";

.bg-normal {
  background-color: #a8a77a5d;
}

.bg-fire {
  background-color: #ee823071;
}

.bg-water {
  background-color: #6390f057;
}

.bg-electric {
  background-color: #f7ce2c81;
}

.bg-grass {
  background-color: #79c74c5b;
}

.bg-ice {
  background-color: #96d9d67f;
}

.bg-fighting {
  background-color: #c22d2881;
}

.bg-poison {
  background-color: #a33ea17c;
}

.bg-ground {
  background-color: #e2bf6583;
}

.bg-flying {
  background-color: #aa8ff378;
}

.bg-psychic {
  background-color: #f9558688;
}

.bg-bug {
  background-color: #a6b91a7e;
}

.bg-rock {
  background-color: #b6a136;
}

.bg-ghost {
  background-color: #73579783;
}

.bg-dragon {
  background-color: #6d35fc7a;
}

.bg-dark {
  background-color: #7057468d;
}

.bg-steel {
  background-color: #b7b7ce83;
}

.bg-fairy {
  background-color: #d685ad7c;
}

